* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Playfair Display', serif;
}

.container-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 2rem 7rem 2rem 5rem;
    background-color: #FFFFFF;
}

.menu-toggle {
    display: none;
}

.logo {
    width: 6rem;
    height: 3rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-items {
    padding: 1rem 1rem;
}

.menu-links {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #9767A9;
}

.menu-links:hover {
    cursor: pointer;
    font-weight: 800;
}

.container-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-search {
    width: 11rem;
    height: 2rem;
    border-radius: 50px;
    border: 3px solid #9767A9;
    position: relative;
    font-family: var(--font-primary);
    font-size: 0.9rem;
    padding-left: 1.8rem;
    margin-right: 1rem;
}

.input-search::placeholder {
    color: #9767A9;
}

.input-magnifying__glass {
    width: 1.1rem;
    position: absolute;
    top: 2rem;
    right: 25rem;
}

.logo-media {
    width: 2rem;
    margin-left: 0.5rem;
}

.container-banner {
    background-image: url('https://i.ibb.co/1ZPssrj/cabeludo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: space-evenly;
}

.content-banner {
    width: 85rem;
    margin-top: 9rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    width: 25rem;
    font-size: 6rem;
    font-weight: 900;
    line-height: 6rem;
    font-family: var(--font-secondary);
    color: #FFFFFF;
}

.banner-description {
    width: 28rem;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3rem;
    font-family: var(--font-primary);
    color: #FFFFFF;
}

.presentation-tips {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem 2rem 5rem;
    background-color: #9767A9;
}

.presentation-title {
    width: 49rem;
    margin-bottom: 7rem;
    font-family: var(--font-secondary);
    font-size: 2.9rem;
    color: #FFFFFF;
}

.presentation-description {
    width: 42rem;
    font-family: var(--font-primary);
    font-size: 1.3rem;
    font-weight: 300;
    color: #FFFFFF;
}

.content-tips {
    width: 100%;
    height: 185.5rem;
    display: flex;
    flex-direction: column;
}

.tips-row {
    width: 100%;
    padding-left: 2rem;
    justify-content: space-between;
    display: flex;
}

.tip {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.tips-images {
    width: 100%;
    max-width: 40rem;
    height: 100%;
    max-height: 33rem;
}

.image-captions {
    width: 30rem;
    background-color: #9767A9;
    padding: 1.5rem 2rem 3.5rem;
}

.captions-title {
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.captions-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-primary);
    color: #FFFFFF;
}

.tip-one {
    position: relative;
    top: -2.8rem;
}

.title-one {
    width: 21rem;
}

.caption-one {
    height: 26rem;
    position: absolute;
    top: 23rem;
}

.tip-two {
    position: relative;
    top: 16rem;
}

.caption-two {
    height: 23rem;
    position: absolute;
    top: 40.9rem;
}

.tip-three {
    position: relative;
    top: 16rem;
}

.title-three {
    width: 17rem;
}

.caption-three {
    height: 18rem;
    position: absolute;
    top: 41rem;
}

.tip-four {
    position: relative;
    top: 33.5rem;
}

.title-four {
    width: 26.5rem;
}

.caption-four {
    height: 18rem;
    position: absolute;
    top: 64.5rem;
}

.tip-five {
    position: relative;
    top: 34rem;
}

.caption-five {
    height: 21.5rem;
    position: absolute;
    top: 59rem;
}

.tip-six {
    position: relative;
    top: 52rem;
}

.caption-six {
    height: 18rem;
    position: absolute;
    top: 82.5rem;
}

.tip-seven {
    position: relative;
    top: 52rem;
}

.caption-seven {
    height: 17rem;
    position: absolute;
    top: 75rem;
}

.img-cacho {
    width: 31rem;
    height: 4.5rem;
    position: relative;
    top: 76rem;
}

.container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem 7rem 2rem 5rem;
}

.img-grid {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.container-footer {
    width: 100%;
    background-color: #9767A9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem 2rem 5rem;
}

.container-menu__toggle,
.media-toggle,
.footer-media__toggle,
.menu-footer__toggle,
.item-toggle,
.footer-link__toggle,
.footer-image__toggle,
.copyright {
    display: none;
}

.footer-description {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #FFFFFF;
    font-family: var(--font-primary);
}

.menu-footer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
}

.footer-item {
    width: 7rem;
    list-style: none;
}

.footer-link {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFFFFF;
}

.descrption-link {
    width: 4.3rem;
    font-size: 1rem;
    font-family: var(--font-primary);
}

@media (max-width: 1024px) {
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .header-toggle {
        width: 57%;
        max-width: 1024px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: initial;
        width: 7rem;
        height: 5rem;
        padding-top: 17px;
        background-color: #9767A9;
    }

    .one,
    .two,
    .three {
        width: 44%;
        height: 3px;
        margin: 9px 14px 5px 34px;
        background-color: #fff;
    }

    .container-menu,
    .menu,
    .menu-items,
    .menu-links,
    .container-search,
    .box-search .logo-media {
        display: none;
    }

    .input-search {
        width: 16rem;
        height: 3rem;
        margin: 0;
    }

    .input-magnifying__glass {
        position: relative;
        top: 0.2rem;
        right: 15.5rem;
    }

    .container-banner {
        background-image: url("https://i.ibb.co/fMJtKTN/mob-cabeludo-2x.png");
    }

    .content-banner {
        margin-left: 6rem;
        display: initial;
        margin-top: 3rem;
    }

    .banner-title {
        width: 32rem;
        font-size: 8.5rem;
        line-height: 8rem;
        padding-bottom: 5rem;
    }

    .banner-description {
        width: 33rem;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .presentation-tips {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        display: block;
        height: 15%;
    }

    .presentation-title {
        width: 100%;
        max-width: 57rem;
        margin: 0;
    }

    .presentation-description {
        width: 100%;
        max-width: 57rem;
        font-size: 1.5rem;
    }

    .content-tips {
        height: auto;
        flex-direction: column;
    }

    .tips-row {
        width: 100%;
        flex-direction: column;
    }

    .tip {
        width: 100%;
        height: 673px;
    }

    .tip-images {
        width: 100%;
        max-width: 20rem;
        height: auto;
    }

    .tip-one {
        padding-top: 1rem;
        top: unset;
    }

    .caption-one {
        top: 22rem;
    }

    .tip-two {
        top: 11rem;
    }

    .caption-two {
        top: 34.5rem;
    }

    .tip-three {
        top: 20rem;
    }

    .caption-three {
        height: 18rem;
        top: 45rem;
    }

    .tip-four {
        top: 25.5rem;
    }

    .caption-four {
        height: 18rem;
        top: 54rem;
    }

    .tip-six {
        top: 43rem;
    }

    .caption-six {
        height: 18rem;
        top: 72rem;
    }

    .img-cacho {
        top: 55rem;
    }

    .container-grid {
        margin-top: 15rem;
    }

    .img-grid {
        padding: 2px;
    }

    .container-footer {
        padding: 2rem 2rem 2rem 2rem;
    }

    .copyright {
        display: none;
    }

    .menu-footer {
        display: flex;
    }

}

@media (max-width: 425px) {
    .container-header {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .menu-toggle {
        width: 5rem;
        height: 3.1rem;
        padding-top: 11px;
    }

    .one,
    .two,
    .three {
        height: 3px;
        margin: 5px 14px 5px 21px;
    }

    .logo {
        width: 3.5rem;
        height: 2rem;
    }

    .input-search,
    .input-magnifying__glass {
        display: none;
    }

    .container-banner {
        background-image: url("https://i.ibb.co/fMJtKTN/mob-cabeludo-2x.png");
        height: 23rem;
        justify-content: start;
        padding-left: 2rem;
    }

    .content-banner {
        height: 90%;
        display: initial;
        margin-left: 1rem;
    }

    .banner-title {
        width: 10.5rem;
        font-size: 3rem;
        line-height: 4rem;
        padding-bottom: 1rem;
    }

    .banner-description {
        width: 14rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .content-tips {
        padding-top: 1rem;
    }

    .presentation-tips {
        display: block;
        height: 15%;
        padding: 2rem;
    }

    .presentation-title {
        width: 20rem;
        height: 4.5rem;
        font-size: 1.4rem;
        padding-bottom: 1rem;
        margin: 0;
    }

    .presentation-description {
        width: 20rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .tips-row {
        width: 100%;
        padding-left: 0;
    }

    .tips-images {
        width: 18rem;
        height: 18rem;
    }

    .image-captions {
        width: 100%;
        max-width: 30rem;
    }

    .captions-title {
        max-width: 16rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .captions-description {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 200;
    }

    .caption-one {
        height: 25rem;
        top: 17rem;
    }

    .tip-two {
        top: 2rem;
    }

    .caption-two {
        height: 23rem;
        top: 17rem;
    }

    .tip-three {
        top: 1rem;
    }

    .title-three {
        width: 13rem;
    }

    .caption-three {
        height: 17rem;
        top: 15rem;
    }

    .tip-four {
        top: -6.5rem;
    }

    .title-four {
        width: 100%;
        max-width: 20rem;
    }

    .caption-four {
        height: 21rem;
        top: 10rem;
    }

    .tip-five {
        top: -9rem;
    }

    .caption-five {
        height: 21rem;
        top: 3.5rem;
    }

    .tip-six {
        top: -14rem;
    }

    .caption-six {
        height: 18rem;
        top: 2rem;
    }

    .tip-seven {
        top: -18rem;
    }

    .caption-seven {
        height: 17rem;
        position: absolute;
        top: -3rem;
    }

    .img-cacho {
        width: 13rem;
        height: 2.5rem;
        top: -26rem;
    }

    .container-grid {
        display: none;
    }

    .img-grid {
        display: none;
    }

    .container-footer {
        display: initial;
        display: block;
        padding: 1rem;
        background-color: #FFFFFF;
    }

    .container-menu__toggle {
        display: initial;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .footer-media__toggle {
        width: 2rem;
    }

    .media-toggle {
        display: initial;
    }

    .media-link__toggle {
        text-decoration: none;
    }

    .menu-footer__toggle {
        justify-content: space-between;
    }

    .menu-footer__toggle {
        display: flex;
        justify-content: space-around;
    }

    .item-toggle {
        list-style: none;
        padding: 0.3rem;
    }

    .footer-image__toggle {
        width: 1.5rem;
    }

    .copyright {
        display: initial;
        font-size: 0.5rem;
        font-family: var(--font-primary);
        font-weight: bold;
    }

    .footer-description {
        font-size: 0.5rem;
        line-height: 0.5rem;
        color: #000;
    }

    .menu-footer,
    .footer-item,
    .footer-linkn,
    .descrption-link {
        display: none;
    }

}

@media (max-width: 320px) {
    .container-banner {
        height: 19rem;
    }

    .content-banner {
        margin-left: 0.5rem;
    }

    .banner-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .banner-description {
        width: 10.5rem;
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .presentation-title {
        width: 16rem;
        height: 3.5rem;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }

    .presentation-description {
        width: 17rem;
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .captions-title {
        font-size: 1.2rem;
    }

    .captions-description {
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: 200;
    }

    .footer-media__toggle {
        width: 2rem;
    }

    .menu-footer__toggle {
        justify-content: space-between;
    }

    .footer-image__toggle {
        width: 1.5rem;
    }
}